<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aristotle</title>
        <link rel="stylesheet" href="/lab-express-basic-site/public/stylesheets/styles.css">
    </head>

    <body>
        <nav>
            <div><a href="/lab-express-basic-site/views/home.html">Aristotle</a></div>
            <div><a href="/lab-express-basic-site/views/about.html">About</a> </div>
              <div>  <a href="/lab-express-basic-site/views/work.html">Work</a> </div>    
        </nav>

        <section id="aboutSection">
            <div id="wrapper"></div>

            
            <div>
                <p>Aristotle (/ˈærɪstɒtəl/;[1] Greek: Ἀριστοτέλης Aristotélēs, pronounced [aristotélɛːs]; 384–322 BC) was an Ancient Greek philosopher and polymath. His writings cover a broad range of subjects including physics, biology, zoology, metaphysics, logic, ethics, aesthetics, poetry, drama, music, rhetoric, psychology, linguistics, economics, politics, meteorology, geology, and government. As the founder of the Peripatetic school of philosophy in the Lyceum in Athens, he began the wider Aristotelian tradition that followed, which set the groundwork for the development of modern science.
                </p>
            </div>
           
           
        </section>
    </body>

</html>