<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aristotle</title>

        <link rel="stylesheet" href="/lab-express-basic-site/public/stylesheets/styles.css">
    </head>

    <body>
        <nav>
            <div><a href="/lab-express-basic-site/views/home.html">Aristotle</a></div>
            <div><a href="/lab-express-basic-site/views/about.html">About</a> </div>
              <div>  <a href="/lab-express-basic-site/views/work.html">Work</a> </div>
                 </nav>

        <section>
            <div id="virtuesWrapper"></div>
            <p id="morality">Courage</p>
            <p id="relationships">Wittiness</p>
            <p id="justice">Modesty</p>
            <p id="kindness">Patience</p>
            <p id="sincerity">Ambition</p>
            <p id="temperance">Temperance</p>
            <p id="truthfulness">Truthtfulness</p>
            <p id="liberality">Liberality</p>
            <p id="temperance">Magnificence</p>
            <p id="sincerity">Magnanimity</p>
            <p id="temperance">Friendliness</p>
            <p id="truthfulness">Righteous indignation</p>
            

        </section>

    </body>

</html>

